<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.roberteves.heobserver"
    android:versionCode="11"
    android:versionName="2.0.1">

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light">
        <activity
            android:name="com.roberteves.heobserver.activities.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.roberteves.heobserver.activities.ArticleActivity"
            android:label="@string/app_name_long"/>
        <activity
            android:name="com.roberteves.heobserver.activities.WebActivity"
            android:label="@string/app_name_long">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="hertsandessexobserver.co.uk"
                    android:scheme="http" />
                <data
                    android:host="www.hertsandessexobserver.co.uk"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.roberteves.heobserver.activities.MarkdownActivity"
            android:label="@string/title_activity_about" />

        <activity
            android:name="com.roberteves.heobserver.activities.SettingsActivity"
            android:label="Settings"
            android:parentActivityName="com.roberteves.heobserver.activities.MainActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.roberteves.heobserver.activities.MainActivity" />
        </activity>
        <activity android:name="com.roberteves.heobserver.activities.CommentActivity"
            android:label="Comments"
            android:parentActivityName="com.roberteves.heobserver.activities.ArticleActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.roberteves.heobserver.activities.ArticleActivity"/>
            </activity>

        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="e1bbc16b796f44c99f9259c5d6133b91f7afc880" />
    </application>

</manifest>